::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black; 
    background: yellow;
}

a, a:visited, a:hover, a:active {
  	color: inherit;
  	text-decoration: none !important;
}

body{
	min-height: 100%;
	height: 99.5vh;
	margin: 0px;
	padding: 0px;
	background: rgb(31, 35, 35);
}

p{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
}

small{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 18px;
}

h1{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 72px;
	margin: 0px;
}

h2{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	font-weight: lighter;
}

h3{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h4{
	color: #55d5ff;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	margin: 1.5em;
}

h5{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	display: inline;
	line-height: 50px;
}

h6{
	color: #000;
	display: inline;
	white-space: pre-wrap;
	font-family: "Quicksand", sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	border-radius: 25px;
    border: 1px solid #55d5ff;
    background-color: #55d5ff;
    line-height: 50px;
}

.resume{
	color: #000;
	display: inline;
	white-space: pre-wrap;
	font-family: "Arial Narrow", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	border-radius: 25px;
    border: 10px solid #FFF;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 50px;
    text-align: center;
}

.stat_sep{
	border-width: 2px;
	background-color: #0C0C0C; 
	border-color: #0C0C0C; 
	margin-left: 6em; 
	border-style: solid;
}

.bar {
  height: 20px;
  width: 100px;
  margin-top: 2.18em;
  margin-bottom: 2.18em; 
  background-color: #a1e8ff;
}

.highlight_1{
	color: #55d5ff;
}

.highlight_2{
	color: #a1e8ff;
}

.highlight_3{
	color: #ffda00;
	text-align: middle;
	font-size: larger;
}

.highlight_4{
	color: #88ff00;
}

.highlight_5{
	color: #FF040F;
}

.equipment_highlight{
	color: #ffda00;
}

.experience_highlight{
	color: #ff4700;
}

.contact_highlight{
	color: #b95aff;
}

.section{
	padding: 100px 100px;
	margin: 0 auto;
	margin-top: 0.5em;
	height: 15em;
	max-width: 1440px;
	min-width: 1300px;
	background-color: rgb(18, 21, 20);
}

.main_div{
	height: 100%;
}

.introduction{
	padding: 100px 100px;
	margin: 0 auto;
	height: 55em;
	max-width: 1440px;
	min-width: 1300px;
	background-color: rgb(18, 21, 20);
	background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
    background-size: contain;
}

.intro_div{
	height: inherit;
}

.intro_content{
	width: 47.5%;
	height: auto;
	padding-top: 28em; 
	margin: 10px;
	margin-bottom: 5em; 
}

.content_container{
	max-width: 49em;
}

.container{
	max-width: 65em;
	height: 100%;
}

.equip_slot{
	width: 25em;
	height: 10em;
	font-size: 18px;
	border: 2px solid #FFF;
	border-radius: 10px;
	margin: 2em;
	padding-left: 1em;
}

.equip_icons{
	width: 6em; 
	height: 6em;
}

.equip_content{
	display: inline;
	max-width: 16em;
}

.equip_part{
	width: 5em;
	height: 2em;
	border: 2px solid #ffda00;
	border-radius: 10px;
	background-color: #ffda00;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: bolder;
	font-size: 18px;
	padding: 5px;
	margin-left: -3em;
	margin-top: -1em;
	color: #000;
	width: 10em;
	height: auto;
}

.experience_content{
	margin-top: 3em;
	margin-top: 6em;
}

.exp_screenshot{
	position: relative;
	float: left;
	margin-left: -19em;
	margin-bottom: 3em;
	width: 103.5em;
	height: 14em;
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #ff4700;
	border-width: 2px;
}

.exp_image{
	position: relative;
	float: left; 
	width: 70em; 
	height: 13em; 
	background-repeat: no-repeat;
	margin-left: 30em;
	z-index: 0;
	overflow: hidden;
}

.tint{
	background-color: #ff7600;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0.3;
}

.mask_L {
	position: absolute;
	margin-top: -0.5em;
	border-bottom: 14em solid #ff7600;
	border-left: 0px solid transparent;
	border-right: 5em solid transparent;
	height: 0;
	width: 30em;
	z-index: 10;
}

.mask_R {
	position: absolute;
	right: 0;
	margin-top: -0.5em;
	border-top: 14em solid #ff7600;
	border-left: 5em solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 15em;
	z-index: 10;
}

.exp_details{
	float: left;
	position: relative;
	width: 2em;
}

.project_name{
	color: #000000b0;
	font-family: "Quicksand", sans-serif;
	font-size: 36px;
	margin: 0px;
}

.tags{
	color: #FFF;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left:  1em;
	padding-right:  1em;
	margin-right: 0.5em;
	display: inline;
	font-family: "Quicksand", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	border-radius: 20px;
    background-color: #000000b0;
}

.timestamp{
	position: absolute;
	right: 7em; 
	z-index: 20; 
	padding-top: 5em;
}