body{
	min-height: 100%;
	height: 99.5vh;
	margin: 0px;
	padding: 0px;
	background: rgb(31, 35, 35);
}

p{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	font-weight: lighter;
}

h1{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 72px;
	margin: 0px;
}

h2{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	font-weight: lighter;
}

h3{
	color: #FFF;
	font-family: "Quicksand", sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 26.4px;
	margin: 1em;
}

.main_div{
	background-color: rgb(18, 21, 20);
}

.highlight_1{
	color: #55d5ff;
}

.highlight_2{
	color: #fff050;
}

.section{
	padding: 100px 100px;
	margin: 0 auto;
	height: 45em;
	max-width: 1440px;
	min-width: 1300px;
	background-color: rgb(18, 21, 20);
}

.introduction{
	padding: 100px 100px;
	margin: 0 auto;
	height: 45em;
	max-width: 1440px;
	min-width: 1300px;
	background-color: rgb(18, 21, 20);
	background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
    background-size: contain;
}

.intro_div{
	height: inherit;
}

.intro_content{
	width: 47.5%;
	height: auto;
	padding-top: 30em; 
	margin: 10px;
	margin-bottom: 5em; 
}

